<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title layout:fragment="title">Edit Post</title>
</head>

<body>
<main layout:fragment="content">
    <h1>Edit Post</h1>
    <form th:action="@{/posts/{id}(id=${post.id})}" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" name="title" class="form-control" th:value="${post.title}">
        </div>

        <div class="mb-3">
            <label for="authors_name" class="form-label">著者名</label>
            <input type="text" id="authors_name" name="authors_name" class="form-control" th:value="${post.authors_name}" required>
        </div>

        <div class="mb-3">
            <label for="publishing_company" class="form-label">出版社</label>
            <input type="text" id="publishing_company" name="publishing_company" class="form-control" th:value="${post.publishing_company}" required>
        </div>

        <div class="mb-3">
            <label for="publishing_year" class="form-label">出版年</label>
            <input type="date" id="publishing_year" name="publishing_year" class="form-control" th:value="${#temporals.format(post.publishing_year, 'yyyy-MM-dd')}" required>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea id="content" name="content" class="form-control" rows="5" th:text="${post.content}"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Upadate</button>
        <a th:href="@{/posts/{id}(id=${post.id})}" class="btn btn-secondary">Cancel</a>
    </form>
</main>
</body>
</html>
