<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/layout">
<head>
    <title layout:fragment="title">Edit Post</title>
</head>

<main layout:fragment="content">
    <h1>Edit Post</h1>
    <form th:action="@{/posts/{id}(id=${post.id})}" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" name="title" class="form-control" th:value="${post.title}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea id="content" name="content" class="form-control" rows="5" th:text="${post.content}"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Upadate</button>
        <a th:href="@{/posts/{id}(id=${post.id})}" class="btn btn-secondary">Cancel</a>
    </form>
</main>
</html>
